@import '../../styles/colors.scss';

.menu {
    ul {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        color: $starry-color;
        font-size: 1.3em;
        margin: 0 1em;
        cursor: pointer;
        text-transform: capitalize;
    }
}
