@import '../../styles/colors.scss';
@import '../../styles/screenSizes.scss';

.menu {
    padding: 0 2em;

    @media (max-width: $small) {
        max-height: 0;
    };

    &.open {
        max-height: 500px;
        transition: max-height .25s ease-in;
        background-color: $menu-color;
        box-shadow: 8px 8px 24px 0px rgb(66 68 90);

        ul {
            display: block;
            opacity: 1;
        }

        li {
            padding: 0.25em 0;
        }
    }

    ul {
        @media (max-width: $small) {
            display: none;
        };

        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        color: $starry-color;
        font-size: 1.3em;
        margin: 0 1em;
        cursor: pointer;
        text-transform: capitalize;
    }
}
