@import '../../styles/colors.scss';
@import '../../styles/screenSizes.scss';

.menu {
    padding: 0 2em;

    ul {
        @media (max-width: $small) {
            display: none;
        };

        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        color: $starry-color;
        font-size: 1.3em;
        margin: 0 1em;
        cursor: pointer;
        text-transform: capitalize;
    }
}
