@import './styles/colors.scss';

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $text-color;
    background-color: $background-color;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;

    img {
        width: 7em;
    }
}